<h1>{{ title }}</h1>
<p>Please enter a pickup and dropoff location:</p>
<form action="/test/submit" method="post">
    <input type="text" name="source">
    <input type="text" name="dest">
    <button type="submit">Submit</button>
</form>
